<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="card w-50 p-3 text-center mx-auto m-5">
      <h1>Login</h1>
      <div class="form-group text-left">
        <label for="name">Nombre</label>
        <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Nombre">
      </div>
      <div class="form-group text-left">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Contraseña">
      </div>
      <button type="submit" class="btn btn-primary">Iniciar sesión</button>
  </div>
</div>